<h1> Memory Match </h1>
<hr />

<body>
<div id="memory" class='container'>
  <div id="memory-screen" class='col-sm-12'>
  </div><p>

  <div class='row'>
    <button class='btn btn-default col-sm-3 cards'><p class='one'>1</p></button>
    <button class='btn btn-default col-sm-3 cards'><p class='two'>2</p></button>
    <button class='btn btn-default col-sm-3 cards'><p class='three'>3</p></button>
    <button class='btn btn-default col-sm-3 cards'><p class= 'four'>4</p></button>
  </div>

  <div class='row'>
    <button class='btn btn-default col-sm-3 cards'><p class='five'>5</p></button>
    <button class='btn btn-default col-sm-3 cards'><p class='six'>6</p></button>
    <button class='btn btn-default col-sm-3 cards'><p class='seven'>7</p></button>
    <button class='btn btn-default col-sm-3 cards'><p class='eight'>8</p></button>
  </div>

  <div class='row'>
    <button class='btn btn-default col-sm-3 cards'><p class='one'>ichi</p></button>
    <button class='btn btn-default col-sm-3 cards'><p class='two'>ni</p></button>
    <button class='btn btn-default col-sm-3 cards'><p class='three'>san</p></button>
    <button class='btn btn-default col-sm-3 cards'><p class='four'>yon</p></button>
  </div>

  <div class='row'>
    <button class='btn btn-default col-sm-3 cards'><p class='five'>go</p></button>
    <button class='btn btn-default col-sm-3 cards'><p class='six'>roku</p></button>
    <button class='btn btn-default col-sm-3 cards'><p class='seven'>shichi</p></button>
    <button class='btn btn-default col-sm-3 cards'><p class='eight'>hachi</p></button>

  </div>
</div>
</body>
