h1 {
  color: #ad0000;
  font-family: fantasy;
  text-align: center;
}

.btn {
  height: 100px;
}

.btn p {
  display: none;
  color: #ad0000;
  font-size: 20px;
  font-family: fantasy;
}

body {
  background-color: grey;
}
